.photo__wrapper {
  position: relative;
}

.photo__container {
  width: 250px;
  height: 350px;
}

.personal__photo {
  position: relative;
  z-index: 5;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: var(--border-radius-medium);
}

.personal__icon {
  transition: all ease 0.3s;
  filter: drop-shadow(0 0 2px #000);
  position: absolute;
  z-index: 10;
  transform: translate(40%, -40%);
  top: 0;
  right: 0;
  width: 60px;
  cursor: pointer;
}
