.wrapper__input {
  display: inline-block;
  position: relative;
  color: #716f6f;
}

.input {
  min-width: 300px;
  padding: 10px 15px;
  border: 3px solid var(--color-lightgray);
  font-size: var(--font-size-medium);
  font-family: var(--font-family-main);
  outline: none;
}
.input:focus {
  border: 3px solid var(--color-lightgray);
}

.clear {
  position: absolute;
  z-index: 5;
  left: 85%;
  top: 50%;
  transform: translate(0, -50%);
  width: 26px;
  height: 26px;
  object-fit: cover;
  object-position: center, center;
  transition: var(--transition);
  background-color: transparent;
  border: none;
}

.wrapper__input .active__icon:hover {
  cursor: pointer;
  transform: translate(0, -50%) scale(1.3);
}
