.list__container {
  display: block;
  column-count: 3;
}

.list__item {
}

.list__item a {
  display: inline-flex;
  color: var(--color-black);
  text-align: center;
  cursor: pointer;
}

.person__photo {
  width: 70px;
  height: 70px;
  object-fit: cover;
  object-position: center, center;
  border-radius: var(--border-radius-small);
}

.person__name {
  display: flex;
  align-items: center;
  margin: 0;
  color: var(--color-white);
  padding: 0 var(--spacing-small);
  text-shadow: var(--text-shadow-blue);
}

.person__comment {
  color: var(--color-white);
}

@media (max-width: 850px) {
  .list__container {
    column-count: 2;
  }
}
