.favorite__container {
  position: relative;
  width: 45px;
}

.counter {
  position: absolute;
  z-index: 10;
  font-size: 13px;
  font-weight: var(--font-bold);
  color: var(--color-black);
  background-color: var(--color-white);
  border-radius: 50%;
  height: 30px;
  width: 30px;
  justify-content: center;
  align-items: center;
  display: inline-flex;
  left: 50%;
  top: -15%;
}

.mark__icon {
  position: relative;
  z-index: 5;
  object-fit: cover;
  width: 100%;
  object-position: center center;
}
