.preloader {
  align-items: center;
  flex: 1 1 auto;
  text-align: center;
}

.preloader__icon {
  display: inline-block;
  width: 100px;
  animation-name: preloader;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.shadow {
  filter: drop-shadow(0 0 2px #fff);
}

@keyframes preloader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
